# Generate timelapse video from photos(2a UTC == 10p central)
* 2 * * * ffmpeg -pattern_type glob -i "/mnt/unraid/timelapse/$(date -d 'yesterday' '+\%Y')/$(date -d 'yesterday' '+\%m')/$(date -d 'yesterday' '+\%d')/*.jpg" -c:v libx264 -vf "crop=2120:1844:0:0" /mnt/unraid/timelapse/$(date -d 'yesterday' '+\%Y')/$(date -d 'yesterday' '+\%m')/$(date -d 'yesterday' '+\%d')/output.mp4 -y

# Upload video to youtube (2:30a UTC == 10:30p central)
30 2 * * * python3 /root/upload_video.py --file="/mnt/unraid/timelapse/$(date -d 'yesterday' '+\%Y')/$(date -d 'yesterday' '+\%m')/$(date -d 'yesterday' '+\%d')/output.mp4" --title="Contruction Progress $(date -d 'yesterday' '+\%Y')-$(date -d 'yesterday' '+\%m')-$(date -d 'yesterday' '+\%d')" --description="Construction Progress for New House Build $(date -d 'yesterday' '+\%Y')-$(date -d 'yesterday' '+\%m')-$(date -d 'yesterday' '+\%d')" --privacyStatus="public"
